.add-list {
    padding: 1rem;
    min-width: 300px;
    background-color: #f8f8f8;
    box-shadow: 5px 10px #e8e8e8;
    text-align: left;
}

.task-name {
    display: flex;
    margin: 15px 0px;
}

.save-task {
    margin-left: auto;
}

input {
    padding: 8px; 
    border: none;
    border-radius: 5px;
}