.board {
    display: flex; 
    align-items: flex-start; 
    align-content: flex-start;
    flex-wrap: wrap;
}

.new-list {
    cursor: pointer;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    box-shadow: 5px 5px 5px #e8e8e8;
}